body{
    margin: 0;
    padding: 0;
    height: 100%;
    
}

#topfix{
    top: 0;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 5;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

span{
    color:rgb(192, 57, 43);
}

.mainbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(243, 150, 1, 0.87);
    padding: 8px 12px;
}

.mainbar__logo{
    font-size: 30px;
    color: white;
}

.mainbar__logo i {
    color:white;
}

.mainbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.mainbar__menu li{
    padding: 8px 12px;
    font-size: 18px;
}

.mainbar__menu li:hover{
    background-color:rgb(192, 57, 43);
    border-radius: 8px;
    
}

.mainbar__links {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
    font-size: 20px;
}

.mainbar__links i{
    padding: 8px 12px;
}

.mainbar__menubtn{
    display: none;
    position: absolute;
    right:32px;
    font-size: 24px;
    color: rgb(192, 57, 43);
    
}

.sectionbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192, 57, 43);
    padding: 8px 12px;
   
}

.sectionbar__menu{
    display: inline;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.sectionbar__menu li{
    float: left;
}

.sectionbar__menu li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

/* sortbtn */


.sortbtn__menu{
    display: none;
    list-style-type: none;
}

.sortbtn__menu li{
    float: left;
}

.sortbtn__menu li a{
    padding: 1px 16px;
}

.sortbtn__menu.active{
    background: #333;
    margin : 0 auto;
    padding: 8px 16px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    

}


/* grid */


.grid_view{
    padding-top: 150px;
    column-gap: 5%;
    row-gap: 2.5%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-auto-columns: minmax(350px, auto);
}


.store_template{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(243, 150, 1, 0.87);
    padding: 10px;
    margin: 5%;
    
}

.store_template a{
    color: #333;
}


#storeimg{
    border: solid;
    color: #333;
    border-color: lightgray;
    background-color: lightgray;
    margin-top: 2%;
    height: 65%;
}

#storeexplain{
    margin-right: 0;
    max-width: 80%;
    text-align: left;
    color: grey;
    font-size: small;
    margin-top: 2%;
}

#storepoint{
    display: inline;
    font-size: larger;
    color: gold;   
}

#hashtags{
    display: inline;
    position: relative;
    float: right;
    color: grey;
    font-size: smaller;
    
    
}



#footer{
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: #333;
    color: whitesmoke

}



/* ----------------------mediaquery--------------------- */

@media screen and (max-width: 760px) {
    .mainbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .mainbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mainbar__menu li{
        width: 100%;
        text-align: center;
    }

    .mainbar__links{
        display: none;
        justify-content: center;
        width: 100%;

    }

    .mainbar__menubtn{
        display: block;
    }

    .mainbar__menu.active,
    .mainbar__links.active{
        display: flex;
    }

    .grid_view{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        grid-auto-rows: minmax(250px, auto);
        grid-auto-columns: minmax(250px, auto);
    }
}
