body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    
}

a{
    text-decoration: none;
    color: whitesmoke;
}

span{
    color:rgb(223, 7, 41);
}

.mainbar{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color:rgb(243, 150, 1, 0.87);
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
    z-index: 100;
}

.mainbar__logo{
    font-size: 30px;
    color: whitesmoke;
}

.mainbar__logo i {
    color:whitesmoke;
}

.mainbar__menu{
    display: flex;
    list-style: none;
    padding-top: 0px;
    padding-left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainbar__menu li{
    padding: 8px 12px;
    font-size: 18px;
}

.mainbar__menu li:hover{
    background-color:rgba(223, 7, 39, 0.712);
    border-radius: 8px;
}

.mainbar__links {
    list-style: none;
    color: white;
    padding-left: 0;
    font-size: 20px;
    display: none;
    justify-content: center;
    width: 100%;
}

.mainbar__links i{
    padding: 8px 12px;
}

.mainbar__menubtn{
    display: block;
    position: absolute;
    right:32px;
    font-size: 24px;
    color: rgb(223, 7, 41);
    
}

.sectionbar{
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 7, 41);
    padding: 8px 12px;
    z-index: 99;
   

}

.sectionbar__menu{
    display: inline;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.sectionbar__menu li{
    float: left;
}

.sectionbar__menu li a{
    display: flex;
    color: whitesmoke;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

.sectionbar__menu li a:hover{
    color: rgb(223, 7, 41);
    background-color:whitesmoke;
    border-radius: 8px;
}
/* sortbtn */


.sortbtn__menu{
    display: none;
    
}

.sortbtn__menu li{
    list-style-type: none;
    padding: 1px 16px;
}

.sortbtn__menu.active{
    color: whitesmoke;
    background: rgb(223, 7, 41);
    margin : 0 auto;
    padding: 8px 16px;
    display: flex;
    height: 30%;
}


/* grid */


.grid_view{
    display: grid;
    padding: 1.25% 2.5% ;
    margin: 0 6%;
    place-items: center;
    align-content: space-around;
}


.grid_view-item{
    min-width: 15%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(243, 150, 1, 0.87);
    margin: 1.25%;
    padding: 3px;
    border-width: 1px;
}

.grid_view-item:hover{
    border-color:rgba(223, 7, 39, 0.712);
}


.store_img{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 210px;
}


.store_img img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.score {
    text-align: left;
    font-size: larger;
    color: gold;   
}

.distance {
    text-align: right;
    float: right;
    color: grey;
    font-size: smaller;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  color: #333;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 200px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.top {
    font-size: 40px;
    color: rgb(243, 150, 1);
    position: fixed; 
    right: 2%; 
    bottom: 50px; 
    display: none; 
    z-index: 999;
}


#footer{
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: #333;
    color: whitesmoke

}

#map{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}


.mainbar__menu.active,
.mainbar__links.active{
    display: flex;
}

.sortbtn_tag input {
    display: none;
}

.sortbtn_tag .box{
    width: 13px;
    height: 13px;
    background-color: #fefefe;
    text-indent: -9999em;
    display: inline-block;
}

/* ----------------------filter sample CSS--------------------- */


/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(243, 150, 1, 0.938);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color:rgb(243, 150, 1);
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}


/* ----------------------mediaquery--------------------- */

@media screen and (max-width: 760px) {
    
    .top {
        font-size: 20px;
        color: rgb(243, 150, 1);
        position: fixed; 
        right: 2%; 
        bottom: 40px; 
        display: none; 
        z-index: 999;
    }


    
    .sortbtn__menu.active{
        flex-direction: column;
        align-items: flex-start;
    }
    .score{
        padding: 0;
    }
    
    .loc{
        padding: 10px;
    }

    .grid_view{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .grid_view-item{
        width: 45%;
    }
    .sortbtn__menu li {
        list-style-type: none;
        float: left;
        padding: 5px;
    }
    .store_img{
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 200px;
    }
    

}