.sortbtn__menu input {
    background: rgb(33,33,33,0.64);
    width: 4rem;
}

.ui-widget.ui-widget-content {
    border: 2px solid #c5c5c5;
}

#slider-range {
    padding-top: 3px;
    width: 20%;
}

.ui-slider-horizontal {
    height: .5em;
}

.ui-slider .ui-slider-range {
    background-color: orange;
}