<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muk:ja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2e6580eb92.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/about_us.js') }}" defer></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>



</head>

<body>
    <div class="top" style="cursor: pointer">
        <i class="fas fa-arrow-circle-up">TOP</i>
    </div>
    <div class="about_bg parallax">
        <nav class="mainbar">
            <div class="mainbar__logo">
                <i class="fas fa-utensils"></i>
                <b><a href="/"><span>M</span>ukja-Muk<span>:j</span>a</a></b>
            </div>

            <ul class="mainbar__menu">        
                <li><a href="/">HOME</a></li>
                <li><a href="/about-us">ABOUT US</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>

            <ul class="mainbar__links">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook"></i></li>
            </ul>

            <a href="#" class="mainbar__menubtn">
            <i class="fas fa-bars"></i>
            </a>
        </nav>



        
            <div class="ABOUT">
                <h1><i>"Team Muk<span>:j</span>a"</i></h1>
                <div class="about">
                  <p>안녕하세요.저희는 팀 "Muk:ja"입니다.</p>
                  <p>저희는 이번 프로젝트에서</p>
                  <p>학원 주변의 맛집을 소개하는</p> 
                  <p>「맛집검색 서비스」를 런칭하게 되었습니다.</p>
                  <p>런칭한지 얼마 되지 않아</p> <p>현재까지는 학원 주변 한정으로</p> 
                  <P>정보를 제공하고 있지만</p>
                  <p>앞으로 더 많은 맛집 정보 제공도 예정하고 있습니다!</p>
                </div>
            </div>
          </div>
            <div>
                <h1 style="text-align: center">Our Team</h1>
                <div class="row">
                  <div class="team_column">
                    <div class="card">
                      <img src="/static/img/about_us/TY.jpg" alt="택영" style="width:100%">
                      <div class="container">
                        <h2>Lee T.Y</h2>
                        <p class="title">Team Leader</p>
                        <p><b>안녕하세요.강아지 분양 받으실 분?</b></p>
                        <p>TY@example.com</p>
                        <p><button class="about_button">Contact</button></p>
                      </div>
                    </div>
                  </div>
                
                  <div class="team_column">
                    <div class="card">
                      <img src="/static/img/about_us/HJ.jpg" alt="홍주" style="width:100%">
                      <div class="container">
                        <h2>Moon H.J</h2>
                        <p class="title">Teamate</p>
                        <p>서울 곳곳의 맛집 정보를 알고 싶다면 연락주세요!</p>
                        <p>mhj401@gmail.com</p>
                        <p><button class="about_button">Contact</button></p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="team_column">
                    <div class="card">
                      <img src="/static/img/about_us/GH.jpg" alt="근호" style="width:100%">
                      <div class="container">
                        <h2>Kim G.H</h2>
                        <p class="title">Teamate</p>
                        <p>그노그노의 알코올 투어! 지금 신청하세요!</p>
                        <p>GH@example.com</p>
                        <p><button class="about_button">Contact</button></p>
                      </div>
                    </div>
                  </div>
  
                  <div class="team_column">
                    <div class="card">
                      <img src="/static/img/about_us/SY.jpg" alt="세연" style="width:100%">
                      <div class="container">
                        <h2>Kim S.Y</h2>
                        <p class="title">Teamate</p>
                        <p>어이 세연이~ 팬케이크 어서 오고~</p>
                        <p>SY@example.com</p>
                        <p><button class="about_button">Contact</button></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
  
            <div id = "footer">
                <h2>Project mjmj</h2>
                <p>ltyiz x mhj x gust x pavv</p>
            </div>
    
       

    </body>
    
    </html>