<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="input_form">
    <form action="/admin/add_store" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>음식점 정보 입력</legend>
            <p>
                <input type="text" name="store_name" id="store_name">
                <label for="store_name">store_name</label>
            </p>
            <p>
                <input type="range" name="store_rate" id="store_rate" min="0" max="10" step="1">
                <label for="store_rate">store_rate (0 ~ 10)</label>
            </p>
            <p>
                <input type="text" name="address" id="address">
                <label for="address">address</label>
            </p>
            <p>
                <input type="text" name="lat" id="lat" value="37.489915">
                <label for="lat">latitude</label>
            </p>
            <p>
                <input type="text" name="lon" id="lon" value="126.927116">
                <label for="lon">longitude</label>
            </p>
            <p>
                <input type="text" name="inform" id="inform">
                <label for="inform">inform</label>
            </p>
            <p>
                <input type="text" name="writer" id="writer">
                <label for="writer">writer</label>
            </p>
            <p>
                <input type="file" name="thumbnail" id="thumbnail">
                <label for="thumbnail">thumbnail</label>
            </p>
            <p>
                <input type="number" name="distance" id="distance" min="20" max="1200" step="10">
                <label for="distance">distance (m)</label>
            </p>
            <p>
                <input type="password" name="pwd" id="pwd">
                <label for="pwd">password</label>
            </p>

            <div>
                <button type="submit">submit</button>
            </div>
        </fieldset>
    </form>

    <form action="/admin/add_image" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>detail image update</legend>
            <p>
                <input type="file" name="detail_image" id="detail_image">
                <label for="detail_image">형식으로 파일저장.</label>
            </p>
            <p>
                <input type="number" name="store_id">
                <label for="store_id">store_id</label>
            </p>
            <p>
                <input type="number" name="store_order">
                <label for="store_id">store_order</label>
            </p>
            <p>
                <input type="password" name="pwd" id="pwd">
                <label for="pwd">password</label>
            </p>

            <div>
                <button type="submit">submit</button>
            </div>
        </fieldset>
    </form>
    </div>
    <div class="store_data">
        {% for store in info_store %}
        <a href="/admin/store_data/{{ store[0] }}/"><div>{{ store }}</div></a>
        {% endfor %}
    </div>
    <div>
        <a href="/">back home</a>
    </div>
</body>
</html>