<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muk:ja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/About_us.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2e6580eb92.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/About_us.js') }}" defer></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>



</head>

<body>
    <div class="top" style="cursor: pointer">
        <i class="fas fa-arrow-circle-up">TOP</i>
    </div>
        <nav class="mainbar">
            <div class="mainbar__logo">
                <i class="fas fa-utensils"></i>
                <b><a href="/"><span>M</span>ukja-Muk<span>:j</span>a</a></b>
            </div>

            <ul class="mainbar__menu">        
                <li><a href="/">HOME</a></li>
                <li><a href="/about-us">ABOUT US</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>

            <ul class="mainbar__links">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook"></i></li>
            </ul>

            <a href="#" class="mainbar__menubtn">
            <i class="fas fa-bars"></i>
            </a>
        </nav>
  
            <form class="CONTACT">


            </form>
             
  
            <div id = "footer">
                <h2>Project mjmj</h2>
                <p>ltyiz x mhj x gust x pavv</p>
            </div>
    
       

    </body>
    
    </html>