<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muk:ja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script 
    src="https://kit.fontawesome.com/2e6580eb92.js" 
    crossorigin="anonymous">
    </script>
    <script src="../static/js/main.js" defer></script>
</head>

<body>
    <div id = topfix>
        <nav class="mainbar">
            <div class="mainbar__logo">
                <i class="fas fa-utensils"></i>
                <b><a href="#"><span style = "color:rgb(192, 57, 43);">M</span>ukja-Muk<span style = "color:rgb(192, 57, 43);">j</span>a</a></b>
            </div>

            <ul class="mainbar__menu">        
                <li><a href="">HOME</a></li>
                <li><a href="">LOGIN</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>

            <ul class="mainbar__links">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook"></i></li>
            </ul>

            <a href="#" class="mainbar__menubtn">
            <i class="fas fa-bars"></i>
            </a>

        </nav>
    
        <div class="sectionbar">
            <ul class="sectionbar__menu">
                <li><a href="#" class="sectionbar__gridbtn">GRID</a></li>
                <li><a href="#" class="sectionbar__mapbtn">MAP</a></li>
                <li><a href="#" class="sectionbar__sortbtn">SORT</a></li>
            </ul>
        </div>
        
        <div>
            <ul class="sortbtn__menu">
                    <li><a href="">sort1</a></li>
                    <li><a href="">sort2</a></li>
                    <li><a href="">sort3</a></li>
                    <li><a href="">sort4</a></li>
                    <li><a href="">sort5</a></li>
                    <li><a href="">sort6</a></li>                  
            </ul>
        </div>
    </div>
    
    <div class="grid_view">
        {% for info in inform %}
        {% if loop.index < 10 %}
        <div class = "store_template" onclick="loadDetail('{{ info[0] }}')">
            <div id = "{{ info[1] }}" href="">{{ info[1] }}</div>
            <div id = "storeimg">
                <img src="" alt="store img">
            </div>
            <div id = "score">
                {{ info[2] }}
            </div>
            <div id = "tags">
                {{ info[3] }}
            </div>
        </div>
        <div id="{{ info[0] }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
    <script>
    function loadDetail(store_id="") {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
                document.getElementById(store_id).innerHTML = this.responseText;
            };
        };
        xhttp.open("GET", "/store/"+store_id+"/", true);
        xhttp.send();
    }
    </script>
    
    <div class = "center">    
        <div class= "paging">
            <a href="">&laquo;</a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">&raquo;</a>



    <div id = "footer">
        Project mjmj<br>ltyiz x mhj x gust x pavv
    </div>

</body>

</html>
