<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Muk:ja</title>
    <script 
    src="https://kit.fontawesome.com/2e6580eb92.js" 
    crossorigin="anonymous">
</script>
<script src="../static/js/main.js" defer></script>
</head>
<body>

    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fas fa-utensils"></i>
            <b><a href="#"><span style = "color:rgb(192, 57, 43);">M</span>ukja-Muk<span style = "color:rgb(192, 57, 43);">j</span>a</a></b>
        </div>

        <ul class="navbar__menu">        
            <li><a href="">HOME</a></li>
            <li><a href="">LOGIN</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CONTACT US</a></li>
        </ul>

        <ul class="navbar__links">
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>

        <a href="#" class="navbar__menubtn">
        <i class="fas fa-bars"></i>
        </a>
    </nav>
    
    <div class="sectionbar">
        <ul class="sectionbar__menu">
            <li><a href="">GRID</a></li>
            <li><a href="">MAP</a></li>
            <li><a href="">SORT</a></li>
        </ul>
    </div>

    <div class="grid_view">
        <div class = "fir_store">1</div>
        <div class = "sec_store">2</div>
        <div class = "thi_store">3</div>
        <div class = "fou_store">4</div>
        <div class = "fif_store">5</div>
        <div class = "six_store">6</div>
        <div class = "sev_store">7</div>
        <div class = "eig_store">8</div>
        <div class = "nin_store">9</div>
        <div class = "ten_store">10</div>
        
    </div>

    <div class= "page">

    </div>

    <script src="../static/js/main_ajax.js" charset="utf-8">
    </script>

    <div class = "footer">
        Project mjmj
        <br>
        Lee Taekyoung
        <br>
        Moon Hongju
        <br>
        Kim Gunho
        <br>
        Kim Seyeon
    </div>

</body>
</html>
