<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Muk:ja</title>
    <script 
    src="https://kit.fontawesome.com/2e6580eb92.js" 
    crossorigin="anonymous">
    </script>
    <script src="../static/js/main.js" defer></script>
</head>
<body>

    <nav class="mainbar">
        <div class="mainbar__logo">
            <i class="fas fa-utensils"></i>
            <b><a href="#"><span style = "color:rgb(192, 57, 43);">M</span>ukja-Muk<span style = "color:rgb(192, 57, 43);">j</span>a</a></b>
        </div>

        <ul class="mainbar__menu">        
            <li><a href="">HOME</a></li>
            <li><a href="">LOGIN</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">CONTACT US</a></li>
        </ul>

        <ul class="mainbar__links">
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>

        <a href="#" class="mainbar__menubtn">
        <i class="fas fa-bars"></i>
        </a>
    </nav>
    
    <div class="sectionbar">
        <ul class="sectionbar__menu">
            <li><a href="#" class="sectionbar__gridbtn">GRID</a></li>
            <li><a href="#" class="sectionbar__mapbtn">MAP</a></li>
        </ul>
        <a href="#" class = "sectionbar__sortbtn"></a>
    </div>

    <div class="grid_view">
        {% for info in inform %}
        {% if loop.index < 10 %}
        <div class = "fir_store">
            <a id = "{{ info[1] }}" href="">first store {{ info[1] }}</a>
            <div id = "storeimg">
                <img src="" alt="first store img">
            </div>
            <div id = "storepoint">
                {{ info[2] }}
            </div>
            <div id = "hashtags">
                {{ info[3] }}
            </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
    </div>
    
    <div class = "center">    
        <div class= "paging">
            <a href="">&laquo;</a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">&raquo;</a>

    <div class= "page">

    </div>

    <script src="../static/js/main_ajax.js" charset="utf-8">
    </script>

    <div class = "footer">
        Project mjmj
        <br>
        Lee Taekyoung
        <br>
        Moon Hongju
        <br>
        Kim Gunho
        <br>
        Kim Seyeon
    </div>

</body>
</html>
