<!DOCTYPE html>
<html lang="ko">

<!-- head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mukja</title>
    <link rel = "stylesheet" href = "../static/css/project.css">
</head>


<!-- body -->
<body>
    <!-- header 타이틀 / 드롭다운-->
    <header>
        <span class="dropdown">
            <button class="dropbtn">
                menu
            </button>
            <span class="dropdown-content">
                <br>
                <a href="#">About us</a>
                <a href="#">Contact</a>
                <a href="#">log-in/log-out</a>
                <a href="#">sign_up</a>
            </span>
        </span>
            <div class="title">
                <h1 class="why2"><span class="why">M</span>ukja-Muk<span class="why">j</span>a</h1>
            </div>
    </header>

    <!-- nav: 지도 / 나란히 / 정렬기준 -->
    <nav>
        <div class="nav">
            <input id="a" class="navbtn" type="submit" value="지도">
            <input id="b" class="navbtn" type="submit" value="나란히">
            <input id="c" class="navbtn" type="submit" value="정렬기준">
        </div>
    </nav> 

    <!-- footer: 푸터-->
    <footer>

    </footer>

</body>

<!-- body end -->
</html>