<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "css/project.css">
</head>
<body>
    <header>
    <span class="dropdown">
        <button class="dropbtn">menu</button>
        <span class="dropdown-content">
            <br>
            <a href="#">한식</a>
            <a href="#">중식</a>
            <a href="#">일식</a>
            <a href="#">양식</a>
            <a href="#">기타</a>
        </span>
    </span>
<div class="first">
    <h1 class="why2"><span class="why">m</span>ukja-muk<span class="why">j</span>a</h1>
</div>
</header>

<nav>
    <div class="second">
    <input id="a" class="why4" type="submit" value="지도">
    <input id="b" class="why4" type="submit" value="나란히">
    <input id="c" class="why4" type="submit" value="정렬기준">
    </div>
</nav> 

<footer>
    <span style="margin-bottom: 500 auto;">이용약관</span>
    <span>개인정보처리방침</span>
    <span>About Us</span>
</footer>

</body>
</html>